#container {
  text-align: center;

  position: absolute;
  left: 70%;
  right: 0%;
  top: 10%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 30px;
  line-height: 26px;
  
}

#container  #ok{
  
  background-color: green;
  
}
#container #ko{

  background-color: red;
  
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
